.container {
  background-color: #fffafa;
  color: gray;
  padding: 20px 0 20px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5px;
  .disabled {
    color: gray;
    opacity: 0.4;
  }
}
