.container {
  background-color: #fffafa;
  color: gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  .section-box {
    display: flex;
    flex-wrap: wrap;
  }

  .border {
    width: 90%;
    border-top: 1px solid rgb(189, 189, 189);
    margin: 30px 0 30px 0;
  }
}
