.container {
  background-color: #fffafa;
  color: gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  .section-box {
    justify-content: center;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
}
