<header class="container">
  <div class="text-and-image-box">
    <div class="text-and-image-box__text-box">
      <ui-large-small-text
        [largeText]="headerData.nickname"
        [smallText]="headerData.workplace"
      ></ui-large-small-text>
      <app-header-cv-information
        [email]="headerData.email"
        [tel]="headerData.tel"
        [gitLink]="headerData.gitLink"
      ></app-header-cv-information>
    </div>
    <img class="text-and-image-box__profile-image" [src]="headerData.imgSrc" />
  </div>
</header>
