.container {
  margin-top: 10px;
  background-color: #b40f33;
  padding: 20px 30px 15px 30px;
  display: flex;
  flex-direction: row;
  position: relative;
  -webkit-box-shadow: 0px 0px 9px -2px rgba(125, 125, 132, 1);
  -moz-box-shadow: 0px 0px 9px -2px rgba(125, 125, 132, 1);
  box-shadow: 0px 0px 9px -2px rgba(125, 125, 132, 1);

  .text-and-image-box {
    display: flex;
    flex-direction: row;
    position: relative;

    .text-box {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      padding-right: 50px;
    }
  }

  .profile-image {
    width: 130px;
    height: 180px;
    border: 1px solid white;
    border-radius: 10px;
    position: relative;
  }
}

.container::before {
  content: "";
  position: absolute;
  background-image: url("angular.png");
  background-size: 200px;
  inset: 0;
  background-repeat: no-repeat;
  background-position: 38% 100px;
  opacity: 0.6;
}
