.container {
  background-color: #fffafa;
  color: gray;
  display: flex;
  flex-direction: column;
  align-items: center;

  .icons-box {
    display: flex;
    justify-content: center;

    &__icon {
      width: 100px;
    }
  }

  .lists-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
