.container {
  margin: 25px 0 20px 0;
  display: flex;
  flex-direction: row;

  .list-item {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 5px;

    .list-content {
      display: flex;
      justify-content: space-between;
      gap: 5px;

      .text {
        line-height: 1.2;
        display: flex;
        font-size: 12px;
      }

      .additional-elements {
        display: flex;
        justify-content: flex-end;
        width: 50%;

        &__image {
          height: 15px;
          border: 1px solid rgb(190, 190, 190);
        }

        &__little-text {
          font-size: 8px;
          font-weight: 600;
        }
      }
    }
  }

  .parting {
    border-left: 2px dotted rgb(189, 189, 189);
    padding-left: 15px;
    margin-left: 15px;
  }
}
