<div class="container">
  <div>
    <li *ngFor="let point of points" class="list-item">
      <mat-icon>task_alt</mat-icon>
      <div
        class="list-content"
        [style.width]="hasAdditionalContent(point) ? '60%' : '100%'"
        [ngStyle]="{width: subPointWidth}"
      >
        <span class="text">{{ point.text }} </span>
        <div
          *ngIf="point.image !== undefined || point.additionalText !== undefined"
          class="additional-elements"
        >
          <img
            *ngIf="point.image !== undefined"
            class="additional-elements__image"
            [src]="point.image"
          /><span class="additional-elements__little-text"
            >{{point.additionalText}}</span
          >
        </div>
      </div>
    </li>
  </div>
  <div class="parting" *ngIf="hasParting"></div>
</div>
