<div class="container">
  <div>
    <li *ngFor="let point of points" class="list-item">
      <mat-icon>task_alt</mat-icon
      ><span class="text-and-image-box" [ngStyle]="{width: subPointWidth}"
        >{{ point.text }}
        <img
          *ngIf="point.image !== undefined"
          class="text-and-image-box__image"
          [src]="point.image" /></span
      ><span class="additional-text">{{point.additionalText}}</span>
    </li>
  </div>
  <div class="parting" *ngIf="hasParting"></div>
</div>
