.container {
  margin: 25px 0 20px 0;
  display: flex;
  flex-direction: row;

  .list-item {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 11px;

    &__text {
      line-height: 1.2;
    }
  }

  .parting {
    border-left: 2px dotted rgb(189, 189, 189);
    padding-left: 15px;
    margin-left: 15px;
  }
}
