.container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 50px;

  .list-item {
    list-style-type: none;
    display: flex;
    gap: 5px;
    font-size: 13px;
  }
}
