footer {
  background-color: #fffafa;
  color: gray;
  padding: 20px 0 20px 0;
  .icons-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5px;

    .disabled {
      color: gray;
      opacity: 0.4;
    }
  }

  p {
    margin-inline: auto;
    text-align: center;
    font-size: 12px;
    max-width: 400px;
  }
}
