.email-and-telephone-number-box {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 50px;

  .email-and-git-box {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
}
