<div class="container">
  <button (click)="exportToPdf()" mat-raised-button color="accent">
    Export to pdf
  </button>
  <div id="cv">
    <app-cv-header [headerData]="cvHeader"> </app-cv-header>
    <app-cv-summary [text]="summaryText"></app-cv-summary>
    <app-cv-section
      *ngFor="let section of cvSections"
      [data]="section"
    ></app-cv-section>
    <app-cv-side-section
      *ngFor="let cvSideSection of cvSideSections"
      [data]="cvSideSection"
    ></app-cv-side-section>
    <app-test></app-test>
  </div>
</div>
